body{
    margin: 0px;
    font-family:'Poppins','san-serif';
}
.top-banner{
    background-image: url("./images/top-banner.png");
    border: 1px red;
    background-repeat: no-repeat;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.orange-highlight{
    color: goldenrod;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
    margin-top: 20px;

    
}
section{
    height: 500px;
    margin-bottom: 40px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, tomato);
    background-color:orange;
    padding: 1.5%;
    border-radius:5px ;
    font-weight: 700;
    color: white;
}
.dream-area{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.single-experince{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
}
.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightSalmon,tomato);
    border-image-slice:1 ;
}

#baby-web
    {
        border-left: 7px solid;
        border-image: linear-gradient(180deg,blue,cyan);
        border-image-slice:1 ;
    }

    footer p{
        text-align: center;
        font-size: 12px;

    }
